<section class='conclusions'>
  <div class='container'>
    <div class='row justify-content-center'>
      <div class='col-lg-8'>
        {% include "../../components/title/title.twig" with {
          'class': 'conclusions__title',
          'text': 'Какие же выводы можно сделать?'
        } %}
      </div>
      <div class='col-lg-8'>
        <ol class="conclusions__list">
          <li class="conclusions__list-item mt-4 mt-lg-5">
            Проблем с нарушениями зрения больше среди людей:
          </li>
          <li class="conclusions__list-item ps-0 mt-4 mt-lg-4">
            <div class='conclusions__problems'>
              <div class='conclusions__problems-block'>
                <div class='conclusions__problems-item'>
                  <img src="./assets/house.svg" alt="house" class="conclusions__problems-house">
                </div>
                <div class='conclusions__problems-text'>
                  Живущих в сельской местности
                </div>
              </div>
              <div class='conclusions__problems-block'>
                <div class='conclusions__problems-item'>
                  <img src="./assets/poor.svg" alt="poor" class="conclusions__problems-poor">
                </div>
                <div class='conclusions__problems-text'>
                  Малоимущих
                </div>
              </div>
              <div class='conclusions__problems-block'>
                <div class='conclusions__problems-item'>
                  <img src="./assets/women.svg" alt="women" class="conclusions__problems-women">
                </div>
                <div class='conclusions__problems-text'>
                  Женщин
                </div>
              </div>
              <div class='conclusions__problems-block'>
                <div class='conclusions__problems-item'>
                  <img src="./assets/elderly.svg" alt="elderly" class="conclusions__problems-elderly">
                </div>
                <div class='conclusions__problems-text'>
                  Пожилых людей
                </div>
              </div>
              <div class='conclusions__problems-block'>
                <div class='conclusions__problems-item'>
                  <img src="./assets/invalids.svg" alt="invalids" class="conclusions__problems-invalids">
                </div>
                <div class='conclusions__problems-text'>
                  Ивалидов
                </div>
              </div>
              <div class='conclusions__problems-block'>
                <div class='conclusions__problems-item'>
                  <img src="./assets/ethnic.svg" alt="ethnic" class="conclusions__problems-ethnic">
                </div>
                <div class='conclusions__problems-text'>
                  Этнических меньшинств и коренного населения
                </div>
              </div>
              <img class="conclusions__problems-logo" src="./assets/littlelogo.svg" alt="logo">
            </div>
          </li>
          <li class="conclusions__list-item mt-4 mt-lg-4">
            Качество офтальмологического лечения близорукости в регионах с низким и  средним уровнем дохода в 4 раза ниже, чем в регионах с высоким уровнем.
          </li>
          <li class="conclusions__list-item mt-4 mt-lg-4">
            Распространенность слепоты в странах Африки в 8 раз выше, чем в странах с высоким уровнем дохода. Статистика заболеваемости катаракты и трахоматозного трихиаза выше у женщин.
          </li>
          <li class="conclusions__list-item mt-4 mt-lg-4">
            Для оказания адресной офтальмологической помощи 1 миллиарду людей, страдающих близорукостью, дальнозоркостью или слепотой, вызванной катарактой, нужно 14,3 миллиардов долларов США.
          </li>
          <li class="conclusions__list-item ps-0 mt-4 mt-lg-4">
            <div class='conclusions__help'>
              <div class='conclusions__help-item'>
                <div class='conclusions__help-icon'>
                  <img src="./assets/money.svg" alt="money" class="conclusions__help-money">
                </div>
                <div class='conclusions__help-descr'>
                  <div class='conclusions__help-subheader'>14 300 000 000 $</div>
                  <div class='conclusions__help-text'>Надо для оказания адресной офтальмологической помощи</div>
                </div>
              </div>
              <div class='conclusions__help-item'>
                <div class='conclusions__help-icon'>
                  <img src="./assets/africappl.svg" alt="africappl" class="conclusions__help-africappl">
                </div>
                <div class='conclusions__help-descr'>
                  <div class='conclusions__help-subheader'>1 000 000 000 $</div>
                  <div class='conclusions__help-text'>
                    Людей, страдающих близорукостью, дальнозоркостью или слепотой, вызванной катарактой.
                  </div>
                </div>
              </div>
              <img class='conclusions__help-logo' src='./assets/littlelogo.svg' alt='logo'>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
