.pagenav {
  font-family: Acme;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  overflow: hidden;
  background-color: #F8F9FA;
  .colorgray {
    color: #BDBDBD;
  }
}