<div class='phonecontacts'>
  <a href="tel:+80985554100" class="phonecontacts__phone">+380 (98) 555 41 00</a>
  <a href="tel:+80665554100" class="phonecontacts__phone">+380 (66) 555 41 00</a>
  <div class='phonecontacts__call' data-bs-toggle="modal" data-bs-target="#myModal">
    <div class='phonecontacts__call_text'>Перезвоните мне</div>
    <svg class="phonecontacts__call_greenarrow">
      <use xlink:href="assets/symbol_sprite.svg#greenarrow"></use>
    </svg>
  </div>

</div>
