.schedule {
  display: flex;
  flex-direction: column;
  color: var(--white-text);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  &__time {
    font-weight: 400;
    font-family: Gotham Pro, sans-serif;
  }
  &__work {
    font-family: Gotham Pro, sans-serif;
  }
}