@import "../../node_modules/normalize.css/normalize.css";

.mt68 {
    margin-top: 68px;
}
.mt53 {
    margin-top: 53px;
}
.mt14 {
    margin-top: 14px;
}
.mt40 {
    margin-top: 40px;
}
a {
    text-decoration: none;
}

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 750px,
        lg: 992px,
        xl: 1115px,
        xxl: 1400px
);

$link-decoration: none;
