<section class='access'>
  <div class='container'>
    <div class='row justify-content-center'>
      <div class='col-lg-8'>
        {% include "../../components/title/title.twig" with {
          'class': 'access__title',
          'text': 'Доступ к офтальмологической помощи'
        } %}
      </div>
      <div class='col-lg-8'>
        <p class='access__subheader'>
          Миллионы людей лишены возможности получать офтальмологическую помощь, в том числе:
        </p>
      </div>
      <div class='col-lg-8'>
        <div class='access__help'>
          <div class='access__help-item'>
            <div class='access__help-logo'>
              <img src="./assets/prevention.svg" alt="prevention" class="access__help-prevention">
            </div>
            <div class='access__help-text'>
              Профилактические мероприятия
            </div>
          </div>
          <div class='access__help-item'>
            <div class='access__help-logo'>
              <img src="./assets/diagnosis.svg" alt="diagnosis" class="access__help-diagnosis">
            </div>
            <div class='access__help-text'>
              Раннюю диагностику
            </div>
          </div>
          <div class='access__help-item'>
            <div class='access__help-logo'>
              <img src="./assets/curing.svg" alt="curing" class="access__help-curing">
            </div>
            <div class='access__help-text'>
              Лечение
            </div>
          </div>
          <div class='access__help-item'>
            <div class='access__help-logo'>
              <img src="./assets/rehabilitation.svg" alt="rehabilitation" class="access__help-rehabilitation">
            </div>
            <div class='access__help-text'>
              Реабелитацию
            </div>
          </div>
          <img class="access__help-logo" src="./assets/littlelogo.svg" alt="logo">
        </div>
      </div>
      <div class='col-lg-8'>
        <p class='access__text'>
          Генеральный директор Всемирной Организации Здравоохранения (ВОЗ) Тедрос Адханом Гебрейесус отмечает, что отсутствие надлежащей офтальмологической помощи лишает людей возможности принимать активное участие в общественной жизни, получать доступ к реабилитационным услугам.
          По его мнению,
        </p>
      </div>
      <div class='col-lg-8'>
        <blockquote class='access__quote'>
          <div class='access__quote-mark'>
            <img src="./assets/quotes.svg" alt="quotes" class="access__quote-img">
          </div>
          <p class='access__quote-text'>
            Каждый больной должен иметь возможность получать офтальмологическую помощь без каких бы то ни было серьезных финансовых затрат.
          </p>
          <div class='access__quote-author'>
            <p class='access__quote-name'>д-р Тедрос Адханом Гебрейесус</p>
            <span class='access__quote-job'>Генеральный директор ВОЗ</span>
          </div>
        </blockquote>
      </div>
      <div class='col-lg-8'>
        <p class='access__offer-descr'>
          Он предлагает, чтобы правительства стран в пакеты по базовому медицинскому обслуживанию обязательно включали офтальмологические услуги.
        </p>
      </div>
      <div class='col-lg-8 d-flex d-lg-none'>
        {% include "../../components/social/social.twig" with {
          'class': 'd-flex d-lg-none'
        } %}
      </div>
    </div>
  </div>
</section>
