<div class='read-more__item'>
  <div class='read-more__item-img'>
    <img src='./assets/cataract.jpg' alt='cataract'>
    <div class='read-more__item-img-label'>Статьи</div>
  </div>
  <div class='read-more__item-wrap'>
    <div class='read-more__item-subheader'>
      5 способов профилактики катаракты
    </div>
    <span class='arrow read-more__arrow'></span>
  </div>
  <div class='read-more__item-date'>23 февраля</div>
</div>
