@media (max-width: 1400px)  {
  .conclusions {
    &__help {
      column-gap: 10px;
    }
  }
}

@media (max-width: 1199px) {
  .conclusions {
    &__problems {
      gap: 50px 25px;
    }
    &__help {
      grid-template-columns: repeat(2, 302px);
      column-gap: 10px;
      &-item {
        flex-direction: column;
      }
      &-descr {
        padding-top: 10px;
        text-align: center;
      }
    }
  }
}

@media (max-width: 991px) {
  .conclusions {
    &__problems {
      gap: 50px 43px;
    }
    &__help {
      grid-template-columns: repeat(2, 333px);
      column-gap: 20px;
      &-item {
        flex-direction: row;
      }
      &-descr {
        padding-top: 0;
        text-align: inherit;
      }
      &-subheader {
        font-size: 27px;
      }
      &-text {
        font-size: 13px;

      }
    }
  }
}

@media (max-width: 767px) {
  .conclusions {
    &__title {
      font-size: 24px;
      line-height: normal;
    }
    &__problems {
      grid-template-columns: repeat(2, 185px);
      gap: 50px;
      padding: 42px 0 10px 0;
      &-logo {
        grid-column: 1/3;
        grid-row: 4/5;
      }
    }
    &__help {
      grid-template-columns: repeat(auto-fit, minmax(363px, 370px));
      grid-template-rows: minmax(auto, auto);
      row-gap: 50px;
      &-logo {
        grid-column: initial;
        grid-row: initial;
      }
    }
  }
}

@media (max-width: 575px) {
  .conclusions {
    .conclusions__title {
      font-size: 22px;
    }
    .conclusions__problems {
      grid-template-columns: repeat(2, 139px);
      column-gap: 17px;
      &-text {
        font-size: 11px;
      }
      &-house {
        width: 95px;
        height: 60px;
      }
      &-poor {
        width: 50px;
        height: 56px;
      }
      &-women {
        width: 48px;
        height: 55px;
      }
      &-elderly {
        width: 60px;
        height: 54px;
      }
      &-invalids {
        width: 54px;
        height: 58px;
      }
      &-ethnic {
        width: 40px;
        height: 60px;
      }
    }
    .conclusions__help {
      grid-template-columns: repeat(auto-fit, minmax(auto, 320px));
      &-subheader {
        font-size: 22px;
      }
      &-text {
        font-size: 11px;
      }
      &-money {
        width: 52px;
        height: 34px;
      }
      &-africappl {
        width: 61px;
        height: 70px;
      }
    }
  }
}

