.conclusions {
  padding-top: 65px;
  background-color: #F8F9FA;
  color: #001F2F;
  font-family: Gotham Pro, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  &__list-item {
    display: flex;
    span {
      color: #0833C5;
      font-size: 18px;
      font-weight: 500;
      padding-right: 5px;
    }
  }
  &__problems {
    display: grid;
    grid-template-columns: repeat(3, 185px);
    grid-template-rows: minmax(115px, auto) minmax(115px, auto);
    grid-auto-rows: minmax(auto, auto);
    gap: 50px 43px;
    width: 100%;
    background-color: #FFF;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 62px 0 16px 0;
    border-top: solid 3px #0833C5;
    &-item {
      svg {
        display: block;
        margin: 0 auto;
      }
    }
    &-text {
      font-size: 14px;
      text-align: center;
    }
    &-house {
      width: 109px;
      height: 77px;
    }
    &-poor {
      width: 66px;
      height: 71px;
    }
    &-women {
      width: 63px;
      height: 70px;
    }
    &-elderly {
      width: 75px;
      height: 69px;
    }
    &-invalids {
      width: 69px;
      height: 72px;
    }
    &-ethnic {
      width: 55px;
      height: 75px;
    }
    &-logo {
      grid-column: 2/3;
      grid-row: 3/4;
    }
  }
  &__help {
    display: grid;
    grid-template-columns: repeat(2, 363px);
    grid-template-rows: minmax(85px, auto);
    grid-auto-rows: minmax(auto, auto);
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 50px 0 12px 0;
    border-top: solid 3px #0833C5;
    column-gap: 49px;
    row-gap: 26px;
    width: 100%;
    background-color: #FFF;
    &-item {
      display: flex;
      align-content: center;
      align-items: center;
    }
    &-icon {
      padding-right: 10px;
    }
    &-money {
      width: 67px;
      height: 49px;
    }
    &-africappl {
      width: 76px;
      height: 85px;
    }
    &-descr {

    }
    &-subheader {
      font-size: 29px;
      font-weight: 500;
      line-height: 30px;
    }
    &-text {
      font-size: 14px;
      font-weight: 400;
      line-height: 23px;
    }
    &-logo {
      grid-column: 1/3;
      grid-row: 2/3;
    }
  }
}