.conclusions {
  padding-top: 65px;
  background-color: #F8F9FA;
  color: #001F2F;
  font-family: Gotham Pro, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  &__title {
    @include media-breakpoint-up(sm) {
      line-height: normal;
    }
    @include media-breakpoint-up(lg) {
      line-height: 35px;
    }
  }
  &__list-item {
    display: flex;
    &-num {
      color: #0833C5;
      font-size: 18px;
      font-weight: 500;
      padding-right: 5px;
    }
  }
  &__problems {
    display: grid;
    grid-template-columns: repeat(3, 185px);
    grid-template-rows: minmax(115px, auto) minmax(115px, auto);
    grid-auto-rows: minmax(auto, auto);
    gap: 50px 43px;
    width: 100%;
    background-color: #FFF;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 62px 0 16px 0;
    border-top: solid 3px #0833C5;
    @include media-breakpoint-down(sm) {
      grid-template-columns: repeat(2, 139px);
      gap: 30px 5px;
      padding-top: 42px;
    }
    @include media-breakpoint-up(sm) {
      grid-template-columns: repeat(2, 185px);
      gap: 50px;
      padding: 42px 0 10px 0;
    }
    @include media-breakpoint-up(lg) {
      grid-template-columns: repeat(3, 185px);
      gap: 50px 20px;
    }
    @include media-breakpoint-up(xl) {
      gap: 50px 25px;
    }
    @include media-breakpoint-up(xxl) {
      gap: 50px 43px;
    }
    &-item {
      svg {
        display: block;
        margin: 0 auto;
      }
    }
    &-text {
      font-size: 14px;
      text-align: center;
      @include media-breakpoint-down(sm) {
        font-size: 11px;
      }
    }
    &-house {
      width: 109px;
      height: 77px;
      @include media-breakpoint-down(sm) {
        width: 95px;
        height: 60px;
      }
    }
    &-poor {
      width: 66px;
      height: 71px;
      @include media-breakpoint-down(sm) {
        width: 50px;
        height: 56px;
      }
    }
    &-women {
      width: 63px;
      height: 70px;
      @include media-breakpoint-down(sm) {
        width: 48px;
        height: 55px;
      }
    }
    &-elderly {
      width: 75px;
      height: 69px;
      @include media-breakpoint-down(sm) {
        width: 60px;
        height: 54px;
      }
    }
    &-invalids {
      width: 69px;
      height: 72px;
      @include media-breakpoint-down(sm) {
        width: 54px;
        height: 58px;
      }
    }
    &-ethnic {
      width: 55px;
      height: 75px;
      @include media-breakpoint-down(sm) {
        width: 40px;
        height: 60px;
      }
    }
    &-logo {
      @include media-breakpoint-down(lg) {
        grid-column: 1/3;
        grid-row: 4/5;
      }
      @include media-breakpoint-up(lg) {
        grid-column: 2/3;
        grid-row: 3/4;
      }

    }
  }
  &__help {
    display: grid;
    grid-template-columns: repeat(2, 363px);
    grid-template-rows: minmax(85px, auto);
    grid-auto-rows: minmax(auto, auto);
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 50px 0 12px 0;
    border-top: solid 3px #0833C5;
    column-gap: 49px;
    row-gap: 26px;
    width: 100%;
    background-color: #FFF;
    @include media-breakpoint-down(sm) {
      grid-template-columns: repeat(auto-fit, minmax(auto, 320px));
      row-gap: 47px;
    }
    @include media-breakpoint-up(sm) {
      grid-template-columns: repeat(auto-fit, minmax(363px, 370px));
      grid-template-rows: minmax(auto, auto);
      column-gap: 10px;
    }
    @include media-breakpoint-up(lg) {
      grid-template-columns: repeat(2, auto);
      column-gap: 10px;
    }
    @include media-breakpoint-up(xxl) {
      grid-template-columns: repeat(2, 363px);
      column-gap: 49px;
    }
    &-item {
      display: flex;
      align-content: center;
      align-items: center;
      @include media-breakpoint-down(lg) {
        flex-direction: row;
      }
      @include media-breakpoint-up(lg) {
        flex-direction: column;
      }
      @include media-breakpoint-up(xl) {
        flex-direction: row;
      }
    }
    &-icon {
      padding-right: 10px;
    }
    &-money {
      width: 67px;
      height: 49px;
      @include media-breakpoint-down(sm) {
        width: 52px;
        height: 34px;
      }
    }
    &-africappl {
      width: 76px;
      height: 85px;
      @include media-breakpoint-down(sm) {
        width: 61px;
        height: 70px;
      }
    }
    &-descr {
      @include media-breakpoint-down(lg) {
        padding-top: 0;
        text-align: inherit;
      }
      @include media-breakpoint-up(lg) {
        padding-top: 10px;
        text-align: center;
      }
      @include media-breakpoint-up(xl) {
        padding-top: 0;
        text-align: inherit;
      }
    }
    &-subheader {
      font-weight: 500;
      line-height: 30px;
      @include media-breakpoint-down(sm) {
        font-size: 22px;
      }
      @include media-breakpoint-up(sm) {
        font-size: 27px;
      }
      @include media-breakpoint-up(lg) {
        font-size: 29px;
      }
    }
    &-text {
      font-weight: 400;
      line-height: 23px;
      @include media-breakpoint-down(sm) {
        font-size: 11px;
      }
      @include media-breakpoint-up(sm) {
        font-size: 13px;
      }
      @include media-breakpoint-up(lg) {
        font-size: 14px;
      }
    }
    &-logo {
      @include media-breakpoint-down(md) {
        grid-column: initial;
        grid-row: initial;
      }
      @include media-breakpoint-up(md) {
        grid-column: 1/3;
        grid-row: 2/3;
      }
    }
  }
}