<div class='pagenav'>
  <div class='container'>
    <div class='row'>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href="#">Главная</a></li>
          <li class="breadcrumb-item"><a href="#">Блог</a></li>
          <li class="breadcrumb-item"><a href="#">Новости</a></li>
          <li class="breadcrumb-item active" aria-current="page">Всемирный доклад о проблемах здоровья</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
