extends:
  [
      "airbnb-base",
      "plugin:boundaries/recommended" ,
  ]

plugins:
  [ "boundaries" ]

settings:
  boundaries/elements: [
    {
      "type": "_helpers",
      "pattern":  "private/_helpers/*"
    },
    {
      "type": "components",
      "pattern":  "private/components/*"
    },
    {
      "type": "blocks",
      "pattern":  "private/blocks/*"
    },
    {
      "type": "pages",
      "pattern":  "private/pages/*"
    }
  ]

globals:
  __: false

env:
  browser: true
  node: true
  jest: true
  es6: true
  jquery: true


rules:
  no-shadow: 'off'
  no-console: 'off'
  indent: [ 2, 2, { "SwitchCase": 1 } ]
  linebreak-style: 'off'
  boundaries/element-types: [2, {
    "default": "disallow",
    "rules": [
      {
        "from": "_helpers",
        "allow": []
      },
      {
        "from": "components",
        "allow": [ "_helpers" ]
      },
      {
        "from": "blocks",
        "allow": [ "_helpers", "components" ]
      },
      {
        "from": "pages",
        "allow": [ "_helpers", "components", "blocks" ]
      }
    ]
  }]
