<section class='impairment'>
  <div class='container'>
    <div class='row justify-content-center'>
      <div class='col-lg-8'>
        {% include "../../components/title/title.twig" with {
          'class': 'impairment__title',
          'text': 'Почему число случаев нарушений зрения растет?'
        } %}
      </div>
      <div class='col-lg-8 mt-3 mt-md-4 mt-lg-5'>
        <h4>
          Какие заболевания непосредственно приводят к слепоте:
        </h4>
      </div>
      <div class="col-lg-8 mt-3">
        <ol class='impairment__listnum'>
          <li>
            <a href='#'>Катаракта</a>
          </li>
          <li class='mt-2'>
            <a href='#'>Трахома</a>
          </li>
          <li class='mt-2'>
            <a href='#'>Нарушения рефракции</a>
          </li>
        </ol>
      </div>
      <div class='col-lg-8 mt-3'>
        <p class='impairment__text'>
          В то же время существует немало болезней, которые не должны оставаться без внимания и должного лечения, такие как, сухость глаз, конъюнктивит. С учетом демографического роста и постепенного повышения средней продолжительности жизни, можно ожидать увеличение общего числа людей с глазными болезнями.
        </p>
      </div>
      <div class='col-lg-8 mt-4 mt-lg-5'>
        <h4>
          Основные факторы самых распространенных глазных заболеваний:
        </h4>
      </div>
      <div class="col-lg-8 mt-3">
        <ul class='impairment__list'>
          <li>
            <span class='impairment__list_blue'>Миопия (близорукость)</span>
            развивается в связи с большими зрительными нагрузками. Проводя много времени в помещении и взаимодействуя с близко расположенными предметами, усугубляется течение заболевания. Для снижения риска болезни рекомендуется больше времени проводить на улице.
          </li>
          <li class='mt-3'>
            <span class='impairment__list_blue'>Диабетическая ретинопатия</span>
            является следствием сахарного диабета, который появляется почти у всех больных. Регулярные проверки, получение качественной медицинской помощи могут защитить людей от заболевания сетчатки.
          </li>
          <li class='mt-3'>
            Некачественная или несвоевременная диагностика не может обеспечить получение пациентом подходящего лечения. Зачастую, это полное отсутствие профилактики, которое приводит к выявлению болезни, находящейся уже в запущенной стадии.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
