<section class='impairment'>
  <div class='container'>
    <div class='row justify-content-center'>
      <div class='col-lg-8'>
        <h2 class='title impairment__title'>
          Почему число случаев нарушений зрения растет?
        </h2>
      </div>
      <div class='col-lg-8 mt-3 mt-md-4 mt-lg-5'>
        <h4 class='subtitle impairment__subtitle'>
          Какие заболевания непосредственно приводят к слепоте:
        </h4>
        <ul class='impairment__listnum mt-3'>
          <li class='impairment__listnum-item'>
            <a href='#'>Катаракта</a>
          </li>
          <li class='impairment__listnum-item mt-2'>
            <a href='#'>Трахома</a>
          </li>
          <li class='impairment__listnum-item mt-2'>
            <a href='#'>Нарушения рефракции</a>
          </li>
        </ul>
      </div>
      <div class='col-lg-8 mt-3'>
        <div class='impairment__text'>
          В то же время существует немало болезней, которые не должны оставаться без внимания и должного лечения, такие как, сухость глаз, конъюнктивит. С учетом демографического роста и постепенного повышения средней продолжительности жизни, можно ожидать увеличение общего числа людей с глазными болезнями.
        </div>
      </div>
      <div class='col-lg-8 mt-4 mt-lg-5'>
        <h4 class='subtitle impairment__subtitle '>
          Основные факторы самых распространенных глазных заболеваний:
        </h4>
        <div class='impairment__liststar mt-3'>
          <div class='impairment__liststar-item'>
            <div class='star'></div>
            <div class='impairment__liststar-text'>
              <span class='impairment__liststar-text_blue'>Миопия (близорукость)</span>
              развивается в связи с большими зрительными нагрузками. Проводя много времени в помещении и взаимодействуя с близко расположенными предметами, усугубляется течение заболевания. Для снижения риска болезни рекомендуется больше времени проводить на улице.
            </div>
          </div>
          <div class='impairment__liststar-item mt-3'>
            <div class='star'></div>
            <div class='impairment__liststar-text'>
              <span class='impairment__liststar-text_blue'>Диабетическая ретинопатия</span>
              является следствием сахарного диабета, который появляется почти у всех больных. Регулярные проверки, получение качественной медицинской помощи могут защитить людей от заболевания сетчатки.
            </div>
          </div>
          <div class='impairment__liststar-item mt-3'>
            <div class='star'></div>
            <div class='impairment__liststar-text'>
              Некачественная или несвоевременная диагностика не может обеспечить получение пациентом подходящего лечения. Зачастую, это полное отсутствие профилактики, которое приводит к выявлению болезни, находящейся уже в запущенной стадии.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
