<div class='read-more__item {% if class is defined %}{{ class }}{% endif %}'>
  <div class='read-more__item-img'>
    <img src='./assets/glaucoma.jpg' alt='glaucoma'>
    <div class='read-more__item-img-label'>Блог</div>
  </div>
  <div class='read-more__item-wrap'>
    <div class='read-more__item-subheader'>
      Лечение глаукомы народными средствами
    </div>
    <span class='arrow read-more__arrow'></span>
  </div>
  <div class='read-more__item-date'>8 июля</div>
</div>
