<div class='read-more__item'>
  <div class='read-more__item-img'>
    <img src='./assets/report.jpg' alt='report'>
    <div class='read-more__item-img-label'>Советы</div>
  </div>
  <div class='read-more__item-wrap'>
    <div class='read-more__item-subheader'>
      Всемирный доклад о проблемах здоровья

    </div>
    <span class='arrow read-more__arrow'></span>
  </div>
  <div class='read-more__item-date'>8 июля</div>
</div>
