@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: url('./fira_sans/firasans-light.ttf') format('opentype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fira_sans/firasans-regular.ttf') format('opentype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: url('./fira_sans/firasans-medium.ttf') format('opentype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: bold;
  src: url('./fira_sans/firasans-bold.ttf') format('opentype');
}
