.header {
  min-height: 170px;
  background-color: #0833C5;
  color: var(--white-text);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  font-family: Gotham Pro, sans-serif;
  line-height: 20px;
  @include media-breakpoint-down(lg) {
    min-height: 72px;
  }
  &__subheader {
    padding: 19px 0 21px 0;
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
  &__md {
    display: none;
    @include media-breakpoint-down(lg) {
      display: block;
      padding-top: 23px;
    }
    .hamburger {
      display: none;
      @include media-breakpoint-down(lg) {
        display: block;
        width: 20px;
        height: 16px;
        cursor: pointer;
        span {
          display: block;
          height: 2px;
          width: 100%;
          background-color: #fff;
          margin-bottom: 5px;
        }
      }
    }
  }
  &__callback {
    @include media-breakpoint-down(lg) {
      width: 28px;
      height: 28px;
      cursor: pointer;
    }
  }
  &__logo {
    display: block;
  }
  &__search {
    &_text {
      margin-left: 16px;
      transition: all 0.3s ease;
      @include media-breakpoint-down(xl) {
        font-size: 22px;
        margin-left: 10px;
      }
    }
    & .wrap {
      position: relative;
      width: 0;
      height: 55px;
      line-height: 51px;
      padding-right: 50px;
      transition: all 0.5s ease;
      &.active {
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        width: 100%;
        padding-left: 25px;
        transition: all 0.5s ease;
      }
    }
    &_icon {
      position: absolute;
      right: 7px;
      top: 11px;
      cursor: pointer;
    }
    & .input {
      border: 0;
      background: transparent;
      width: 0;
      outline: none;
      font-family: sans-serif;
      font-size: 18px;
      color: var(--blue-text);;
      font-style: italic;
      transition: all 0.3s ease;
      position: relative;
      &::placeholder {
        color: gray;
      }
      &.active{
        width: 98%;
        background: #FFF;
        padding-left: 5px;
        transition: all 0.5s 0.8s ease;
      }
    }
    a {
      color: var(--white-text);
    }
  }
  &__btn {
    position: relative;
    width: 190px;
    @include media-breakpoint-down(xxl) {
      font-size: 13px;
    }
  }
}
