.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
  font-weight: 400;
  & .wrap {
    position: relative;
    width: 0;
    height: 55px;
    line-height: 53px;
    padding-right: 50px;
    transition: all 0.5s ease;
    &.active {
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
      width: 100%;
      padding-left: 25px;
      transition: all 0.5s ease;
    }
  }
  &__icon {
    position: absolute;
    right: 7px;
    top: 11px;
    cursor: pointer;
  }
  & .input {
    border: 0;
    background: transparent;
    width: 0;
    outline: none;
    font-family: sans-serif;
    font-size: 18px;
    color: var(--blue-text);;
    font-style: italic;
    transition: all 0.3s ease;
    position: relative;
    &::placeholder {
      color: gray;
    }
    &.active{
      width: 98%;
      background: #FFF;
      padding-left: 5px;
      transition: all 0.5s 0.8s ease;
    }
  }
}