<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form action="#">
        <button type="button" class="btn-close modal-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
        <div class="modal-title" id="exampleModalLabel">Мы свяжемся с вами как можно быстрее!</div>
        <input required placeholder="Ваше имя" name="name" type="text" class="form-control modal__input" aria-label="Имя">
        <input required placeholder="Ваш номер телефона" name="phone" type="tel" class="form-control modal__input">
        <button type="submit" class="btn btn_dark btn_min">Перезвонить мне</button>
      </form>
    </div>
  </div>
</div>
