<div class='social {{ class }}'>
  <div class='social__text d-flex d-lg-none'>Share:</div>
  <div class='social__block'>
    <a class="social__link" href="#">
      <svg class="social__facebook">
        <use xlink:href="assets/symbol_sprite.svg#facebook"></use>
      </svg>
    </a>
    <a class="social__link" href="#">
      <svg class="social__pinterest">
        <use xlink:href="assets/symbol_sprite.svg#pinterest"></use>
      </svg>
    </a>
    <a class="social__link d-flex d-lg-none" href="#">
      <svg class="social__twitter">
        <use xlink:href="assets/symbol_sprite.svg#twitter"></use>
      </svg>
    </a>
    <a class="social__link d-flex d-lg-none" href="#">
      <svg class="social__linkedin">
        <use xlink:href="assets/symbol_sprite.svg#linkedin"></use>
      </svg>
    </a>
    <a class="social__link d-flex d-lg-none" href="#">
      <svg class="social__telegram">
        <use xlink:href="assets/symbol_sprite.svg#telegram"></use>
      </svg>
    </a>
    <div class='social__link social__plus d-none d-lg-flex'></div>
  </div>
</div>
