<div class='social-big'>
  <div class='social-big__text'>Share:</div>
  <div class='social-big__block'>
    <a class="social-big__link" href="#">
      <svg class="social-big__facebook">
        <use xlink:href="assets/symbol_sprite.svg#facebook-blue"></use>
      </svg>
    </a>
    <a class="social-big__link" href="#">
      <svg class="social-big__pinterest">
        <use xlink:href="assets/symbol_sprite.svg#pinterest"></use>
      </svg>
    </a>
    <a class="social-big__link" href="#">
      <svg class="social-big__twitter">
        <use xlink:href="assets/symbol_sprite.svg#twitter"></use>
      </svg>
    </a>
    <a class="social-big__link" href="#">
      <svg class="social-big__linkedin">
        <use xlink:href="assets/symbol_sprite.svg#linkedin"></use>
      </svg>
    </a>
    <a class="social-big__link" href="#">
      <svg class="social-big__telegram">
        <use xlink:href="assets/symbol_sprite.svg#telegram"></use>
      </svg>
    </a>
  </div>
</div>
