<div class='menu'>
  <div class='menu__block'>
    <div class='container'>
      <nav class='menu__nav'>
        <ul class='menu__list'>
          <li class='menu__logo'>
            <a href='#'>
              <img src='./icons/logoblue.svg' alt='logo'>
            </a>
          </li>
          <li class='menu__item'>
            <a href='#'>Заболевания</a>
            <span class='arrow menu__arrow'></span>
          </li>
          <li class='menu__item'>
            <a href='#'>Услуги</a>
            <span class='arrow menu__arrow'></span>
          </li>
          <li class='menu__item'>
            <a href='#'>Больницы</a>
            <span class='arrow menu__arrow'></span>
          </li>
          <li class='menu__item'>
            <a href='#'>Врачи</a>
            <span class='arrow menu__arrow'></span>
          </li>
          <li class='menu__item'>
            <a href='#'>Цены</a>
            <span class='arrow menu__arrow'></span>
          </li>
          <li class='menu__item'>
            <a href='#'>Отзывы</a>
            <span class='arrow menu__arrow'></span>
          </li>
          <li class='menu__item'>
            <a href='#'>Блог</a>
            <span class='arrow menu__arrow'></span>
          </li>
          <li class='menu__item'>
            <a href='#'>О сервисе</a>
            <span class='arrow menu__arrow'></span>
          </li>
          <li class='menu__item'><a href='#'>Контакты</a>
            <span class='arrow menu__arrow'></span>
          </li>
          <li class='menu__list-item'>
            <div class='search menu__search'>
              <div class="wrap">
                <form action='#'>
                  <input type="text" class="input" placeholder="Поиск">
                  <svg class="search__icon menu__search_icon js-search">
                    <use xlink:href="icons/sprite.svg#searchgreen"></use>
                  </svg>
                </form>
              </div>
              <div class='menu__search_text js-search'>Поиск</div>
            </div>
            <button type="button" class="btn btn-warning button menu__btn" data-bs-toggle="modal" data-bs-target="#myModal">Записаться на прием</button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class='menu__close js-menu__close'></div>
  <div class='overlay'></div>
</div>
