@media (hover: hover) {
  .menu__item {
    transition: all .3s;
    &:hover {
      font-weight: 500;
      scale: 110%;
    }
  }
  .header__btn {
    transition: all .3s;
    &:hover {
      box-shadow: 0 0.5em 0.5em -0.4em;
      transform: translateY(-0.25em);
    }
  }
}