<div class='follow-us'>
  <div class='follow-us__text'>Следите за нами</div>
  <div class='follow-us__social'>
    <a href='#'>
      <svg class="follow-us__social_inst">
        <use xlink:href="assets/symbol_sprite.svg#instagram"></use>
      </svg>
    </a>
    <a href='#'>
      <svg class="follow-us__social_youtube">
        <use xlink:href="assets/symbol_sprite.svg#youtube"></use>
      </svg>
    </a>
    <a href='#'>
      <svg class="follow-us__social_facebook">
        <use xlink:href="assets/symbol_sprite.svg#facebook"></use>
      </svg>
    </a>
  </div>
</div>
