// Colors
:root {
  --white-text: #FFF;
  --green-text: #0ADBAB;
  --blue-text: #000547;
  --btn-color: #E0FA00;
}

$typography_ol_li__color: #0833C5;
$typography_line_height: 150%;
$breadcrumb-active-color: #BDBDBD;
$link-decoration: none;

$container-max-widths: (
  sm: 540px,
  md: 750px,
  lg: 960px,
  xl: 1115px,
  xxl: 1115px
);
