<div class='social'>
  <a class='social__link' href='#'>
    <svg class="social__facebook">
      <use xlink:href="assets/symbol_sprite.svg#facebook-blue"></use>
    </svg>
  </a>
  <a class='social__link' href='#'>
    <svg class="social__pinterest">
      <use xlink:href="assets/symbol_sprite.svg#pinterest"></use>
    </svg>
  </a>
  <div class='social__link social__plus'></div>
</div>
