<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Zrenie</title>
</head>
<body>
    {% include "./blocks/header/header.twig" %}
    {% block pageContent %}
          {% include "./blocks/report/report.twig" %}
          {% include "./blocks/conclusions/conclusions.twig" %}
          {% include "./blocks/impairment/impairment.twig" %}
          {% include "./blocks/access/access.twig" %}
          {% include "./blocks/read-more/read-more.twig" %}
    {% endblock %}
  {% include "./blocks/footer/footer.twig" %}
  {% include "./components/modal/modal.twig" %}

{% if env == 'local' %}
  <script src="http://localhost:35729/livereload.js"></script>
{% endif %}
</body>
</html>
