<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Zrenie</title>
</head>
<body>
    {% include "./blocks/header/header.twig" %}

{#  {% block pagenav %}#}
{#    {% include "./blocks/pagenav/_pagenav.twig" %}#}
{#  {% endblock %}#}

{#  {% block report %}#}
{#    {% include "./blocks/report/_report.twig" %}#}
{#  {% endblock %}#}

{#  {% block conclusions %}#}
{#    {% include "./blocks/conclusions/_conclusions.twig" %}#}
{#  {% endblock %}#}

{#  {% block impairment %}#}
{#    {% include "./blocks/impairment/_impairment.twig" %}#}
{#  {% endblock %}#}

{#  {% block access %}#}
{#    {% include "./blocks/access/_access.twig" %}#}
{#  {% endblock %}#}

{#  {% block read-more %}#}
{#    {% include "./blocks/access/_read-more.twig" %}#}
{#  {% endblock %}#}

  {% include "./blocks/footer/footer.twig" %}
  {% include "./components/modal/modal.twig" %}

{% if env == 'local' %}
  <script src="http://localhost:35729/livereload.js"></script>
{% endif %}
</body>
</html>
