@media (max-width: 767px) {
  .report {
    &__item {
      &-subheader {
        font-size: 27px;
        line-height: 27px;
      }
      &-text {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}

@media (max-width: 575px) {
  .report {
    .report__item {
      &-subheader {
        font-size: 22px;
        line-height: 27px;
      }
      &-text {
        font-size: 11px;
        line-height: 18px;
      }
    }
    &__icon {
      &_british {
        width: 72px;
        height: 96px;
      }
      &_calendar {
        margin-left: 20px;
        width: 39px;
        height: 30px;
      }
      &_glasses {
        margin-left: 20px;
        width: 42px;
        height: 40px;
      }
    }
  }
}
