.modal {
  &-content {
    border-radius: 4px;
  }
  &-header {
    background-color: #0833C5;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 25px 16px;
  }
  &-title {
    color: var(--white-text);
    font-family: Gotham Pro, sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }
}