<section class='report'>
  {% include "../../components/pagenav/pagenav.twig" %}
  <div class='container'>
    <div class='row justify-content-center'>
      <div class='col-12 col-lg-10'>
        <h1 class='report__title'>Всемирный доклад о проблемах здоровья</h1>
      </div>
      <div class='col-12 col-lg-10 mt-3 d-flex'>
        <div class='report__chapter'>Новости</div>
        <div class='report__date'>23 февраля 2020</div>
      </div>
      <div class='col-12 col-lg-10 mt-3 mt-md-4'>
        <div class='report__img'>
          <picture>
            <source media="(min-width: 1200px)" srcset='./assets/main.jpg'>
            <source media="(min-width: 576px)" srcset='./assets/main-medium.jpg'>
            <source media="(min-width: 320px)" srcset='./assets/main-small.jpg'>
            <img src="assets/main.jpg" alt="photo">
          </picture>
        </div>
      </div>
      <div class='col-12 col-lg-10 mt-3 mt-md-4 mt-lg-5'>
        <div class='report__descr'>
          На нашей планете проживает менее 8 миллиардов людей, из которых у 2,2 млрд. нарушено зрение. Причиной могло быть врожденное или приобретенное заболевание, которое у некоторых привело к слепоте. По сути, каждый третий имеет недостаточное зрение. И почти у половины это произошло по разным причинам.
        </div>
      </div>
      <div class='col-12 col-lg-10 d-flex typography'>
        {% include "../../components/social/social.twig" with {
          'class': 'd-none d-lg-flex'
        } %}
        <div class='report__factor'>
          <h4>
            Основные факторы роста числа людей с недостаточным зрением:
          </h4>
          <div class='report__list'>
            <div class='report__list-item'>
              {% include "../../components/star/star.twig" %}
              <div class='report__list-text'>
                Старение населения
              </div>
            </div>
            <div class='report__list-item'>
              {% include "../../components/star/star.twig" %}
              <div class='report__list-text'>
                Изменение образа жизни
              </div>
            </div>
            <div class='report__list-item'>
              {% include "../../components/star/star.twig" %}
              <div class='report__list-text'>
                Ограниченный доступ к офтальмологической помощи
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='col-12 col-lg-8 mt-3 mt-md-4 typography'>
        <h4 class='report__subtitle'>Вопрос можно частично решить при помощи:
        </h4>
        <div class='report__list'>
          <div class='report__list-item'>
            {% include "../../components/star/star.twig" %}
            <div class='report__list-text'>
              Лупы
            </div>
          </div>
          <div class='report__list-item'>
            {% include "../../components/star/star.twig" %}
            <div class='report__list-text'>
              Обучением чтению шрифтом Брайля
            </div>
          </div>
          <div class='report__list-item'>
            {% include "../../components/star/star.twig" %}
            <div class='report__list-text'>
              Ориентации на местности и передвижению с использованием трости
            </div>
          </div>
          <div class='report__list-item'>
            {% include "../../components/star/star.twig" %}
            <div class='report__list-text'>
              Создание приложений для слабовидящих
            </div>
          </div>
        </div>
      </div>
      <div class='col-12 col-lg-8 mt-5 d-flex justify-content-between typography'>
        <div class='report__text d-none d-md-flex'>
          65 миллионов человек страдают слепотой. Это могло быть населением целой страны. При этом вылечить людей можно было бы за 1 день (если причина нарушения зрения, например, катаракта). К сожалению, 800 миллионов людей на планете не могут позволить себе приобретение очков.
        </div>
        <div class='report__infographic'>
          <div class='report__item'>
            <div class='report__icon'>
              <img src="./assets/britishppl.svg" alt="britishppl" class="report__icon_british">
            </div>
            <div class='report__item-descr'>
              <div class='report__item-subheader'>65 000 000</div>
              <div class='report__item-text'>человек слепые</div>
            </div>
          </div>
          <div class='report__item mt14'>
            <div class='report__icon'>
              <img src="./assets/calendar.svg" alt="calendar" class="report__icon_calendar">
            </div>
            <div class='report__item-descr'>
              <div class='report__item-subheader'>за 1 день</div>
              <div class='report__item-text'>можно вылечить катаракту</div>
            </div>
          </div>
          <div class='report__item mt40'>
            <div class='report__icon'>
              <img src="./assets/glasses.svg" alt="calendar" class="report__icon_glasses">
            </div>
            <div class='report__item-descr'>
              <div class='report__item-subheader'>800 000 000</div>
              <div class='report__item-text'>людей не могут купить очки</div>
            </div>
          </div>
          <img class='report__logo' src='./assets/littlelogo.svg' alt='logo'>
        </div>
      </div>
    </div>
  </div>
</section>
