<header class='header'>
  <div class='header__subheader'>
    <div class='container'>
      <div class='row'>
        <div class='col-lg-2 d-flex align-self-center'>
          <a href='#' class='header__logo'>
            <img src='./assets/logo.svg' alt='logo'>
          </a>
        </div>
        <div class='col-lg-2'>
          {% include "../../components/phonecontacts/phonecontacts.twig" %}
        </div>
        <div class='col-lg-2'>
          {% include "../../components/schedule/schedule.twig" %}
        </div>
        <div class='col-lg-2'>
          {% include "../../components/follow-us/follow-us.twig" %}
        </div>
        <div class='col-lg-2 d-flex align-self-center'>
          <div class='search header__search'>
            <div class="wrap">
              <form action='#'>
                <input type="text" class="input" placeholder="Поиск">
                <svg class="search__icon header__search_icon js-search">
                  <use xlink:href="assets/symbol_sprite.svg#search"></use>
                </svg>
              </form>
            </div>
            <div class='header__search_text js-search'>Поиск</div>
          </div>
        </div>
        <div class='col-lg-2 d-flex align-self-center justify-content-end'>
          <button type="button" class="btn btn-warning button header__btn" data-bs-toggle="modal" data-bs-target="#myModal">Записаться на прием</button>
        </div>
      </div>
    </div>
  </div>
  <div class='header__md'>
    <div class='container'>
      <div class='row align-items-center justify-content-between'>
        <div class='col-auto order-2 col-sm-4 order-md-1 col-md-3 d-flex justify-content-start'>
          <a href='#' class='header__logo'>
            <img src='./assets/logo.svg' alt='logo'>
          </a>
        </div>
        <div class='col-auto order-1 col-sm-1 order-md-2 offset-md-7 col-md-1'>
          <svg class="header__callback" data-bs-toggle="modal" data-bs-target="#myModal">
            <use xlink:href="assets/symbol_sprite.svg#phone"></use>
          </svg>
        </div>
        <div class='col-auto order-3 col-sm-1 order-md-3 col-md-1 d-flex justify-content-end'>
          <div class='hamburger js-hamburger'>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='menu'>
    <div class='menu__block'>
      <div class='container'>
        <nav class='menu__nav'>
          <ul class='menu__list'>
            <li class='menu__logo'>
              <a href='#'>
                <img src='./assets/logoblue.svg' alt='logo'>
              </a>
            </li>
            <li class='menu__item'>
              <a href='#'>Заболевания</a>
              {% include "../../components/arrow/arrow.twig" with {
                'class': 'menu__arrow'
              } %}
            </li>
            <li class='menu__item'>
              <a href='#'>Услуги</a>
              {% include "../../components/arrow/arrow.twig" with {
                'class': 'menu__arrow'
              } %}
            </li>
            <li class='menu__item'>
              <a href='#'>Больницы</a>
              {% include "../../components/arrow/arrow.twig" with {
                'class': 'menu__arrow'
              } %}
            </li>
            <li class='menu__item'>
              <a href='#'>Врачи</a>
              {% include "../../components/arrow/arrow.twig" with {
                'class': 'menu__arrow'
              } %}
            </li>
            <li class='menu__item'>
              <a href='#'>Цены</a>
              {% include "../../components/arrow/arrow.twig" with {
                'class': 'menu__arrow'
              } %}
            </li>
            <li class='menu__item'>
              <a href='#'>Отзывы</a>
              {% include "../../components/arrow/arrow.twig" with {
                'class': 'menu__arrow'
              } %}
            </li>
            <li class='menu__item'>
              <a href='#'>Блог</a>
              {% include "../../components/arrow/arrow.twig" with {
                'class': 'menu__arrow'
              } %}
            </li>
            <li class='menu__item'>
              <a href='#'>О сервисе</a>
              {% include "../../components/arrow/arrow.twig" with {
                'class': 'menu__arrow'
              } %}
            </li>
            <li class='menu__item'><a href='#'>Контакты</a>
              {% include "../../components/arrow/arrow.twig" with {
                'class': 'menu__arrow'
              } %}
            </li>
            <li class='menu__list-item'>
              <div class='search menu__search'>
                <div class="wrap">
                  <form action='#'>
                    <input type="text" class="input" placeholder="Поиск">
                    <svg class="search__icon menu__search_icon js-search">
                      <use xlink:href="assets/symbol_sprite.svg#search"></use>
                    </svg>
                  </form>
                </div>
                <div class='menu__search_text js-search'>Поиск</div>
              </div>
              <button type="button" class="btn btn-warning button menu__btn" data-bs-toggle="modal" data-bs-target="#myModal">Записаться на прием</button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class='menu__close js-menu__close'></div>
    <div class='overlay'></div>
  </div>
</header>
