.access {
  color: #001F2F;
  font-family: Gotham Pro, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  background-color: #F8F9FA;
  @include media-breakpoint-down(sm) {
    padding-top: 42px;
  }
  @include media-breakpoint-up(sm) {
    padding-top: 52px;
  }
  @include media-breakpoint-up(md) {
    padding-top: 63px;
  }
  &__subheader {
    @include media-breakpoint-down(sm) {
      margin-top: 25px;
    }
    @include media-breakpoint-up(sm) {
      margin-top: 32px;
    }
    @include media-breakpoint-up(md) {
      margin-top: 45px;
    }
  }
  &__help {
    display: grid;
    grid-template-columns: repeat(4, 142px);
    grid-template-rows: minmax(103px, auto);
    grid-auto-rows: minmax(auto, auto);
    justify-content: space-evenly;
    justify-items: center;
    align-items: baseline;
    padding: 39px 0 12px 0;
    background-color: #FFF;
    border-top: solid 3px #0833C5;
    @include media-breakpoint-down(sm) {
      margin-top: 28px;
    }
    @include media-breakpoint-up(sm) {
      margin-top: 28px;
    }
    @include media-breakpoint-down(md) {
      margin-top: 34px;
      grid-template-columns: repeat(2, 142px);
      justify-content: space-around;
      row-gap: 50px;
    }
    @include media-breakpoint-up(md) {
      margin-top: 34px;
      row-gap: 20px;
    }
    &-logo {
      grid-column: 1/5;
      grid-row: 2/3;
      @include media-breakpoint-down(md) {
        grid-column: 1/3;
        grid-row: 3/4;
      }
      svg {
        display: block;
        margin: 0 auto;
      }
    }
    &-text {
      text-align: center;
      margin-top: 10px;
      @include media-breakpoint-down(sm) {
        font-size: 11px;
      }
      @include media-breakpoint-up(sm) {
        font-size: 13px;
      }
    }
    &-prevention {
      width: 69px;
      height: 67px;
      @include media-breakpoint-down(sm) {
        width: 56px;
        height: 53px;
      }
    }
    &-diagnosis {
      width: 61px;
      height: 61px;
      @include media-breakpoint-down(sm) {
        width: 47px;
        height: 47px;
      }
    }
    &-curing {
      width: 72px;
      height: 50px;
      @include media-breakpoint-down(sm) {
        width: 58px;
        height: 36px;
      }
    }
    &-rehabilitation {
      width: 64px;
      height: 43px;
      @include media-breakpoint-down(sm) {
        width: 50px;
        height: 30px;
      }
    }
  }
  &__text {
    @include media-breakpoint-down(sm) {
      margin-top: 22px;
      font-size: 15px;
    }
    @include media-breakpoint-up(sm) {
      margin-top: 26px;
    }
  }
  &__quote {
    position: relative;
    @include media-breakpoint-down(sm) {
      margin-top: 89px;
    }
    @include media-breakpoint-up(sm) {
      margin-top: 93px;
    }
    @include media-breakpoint-up(lg) {
      margin-top: 102px;
    }
    &:before {
      content: '';
      position: absolute;
      width: 1px;
      height: 220px;
      top: -44px;
      background-color: #000547;
      @include media-breakpoint-down(md) {
        top: -10px;
        height: 252px;
      }
      @include media-breakpoint-down(lg) {
        left: 0;
      }
      @include media-breakpoint-up(lg) {
        left: -26px;
      }
    }
    &-text {
      @include media-breakpoint-down(sm) {
        font-size: 22px;
        line-height: 120%;
      }
      @include media-breakpoint-up(sm) {
        font-size: 25px;
        line-height: 140%;
      }
      @include media-breakpoint-down(lg) {
        padding-left: 26px;
      }
      @include media-breakpoint-up(lg) {
        padding-left: 0;
      }
    }
    &-author {
      color: rgba(0, 31, 47, 0.50);
      line-height: 22px;
      margin-top: 22px;
      @include media-breakpoint-down(sm) {
        margin-top: 12px;
      }
      @include media-breakpoint-down(lg) {
        padding-left: 26px;
      }
      @include media-breakpoint-up(lg) {
        padding-left: 0;
      }
    }
    &-name {
      font-size: 18px;
      font-weight: 500;
      @include media-breakpoint-down(sm) {
        font-size: 16px;
      }
    }
    &-job {
      font-size: 14px;
    }
    &-descr {
      @include media-breakpoint-down(sm) {
        margin-top: 40px;
        font-size: 15px;
        line-height: 21px;
      }
      @include media-breakpoint-up(sm) {
        margin-top: 30px;
      }
    }
  }
}