@media (max-width: 991px) {
  .impairment {
    padding-top: 42px;
    &__title {
      font-size: 26px;
    }
    &__listnum {
      line-height: 35px;
    }
  }
}

@media (max-width: 767px) {
  .impairment {
    padding-top: 38px;
    &__title {
      font-size: 24px;
    }
  }
}

@media (max-width: 575px) {
  .impairment {
    font-size: 15px;
    .impairment__subtitle {
      font-size: 15px;
    }
  }
}

