.impairment {
  padding-top: 65px;
  background-color: #F8F9FA;
  color: var(--black-text, #001F2F);
  font-family: Gotham Pro, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  &__listnum {
    line-height: 42px;
    margin-bottom: 0;
    padding-left: 18px;
    a {
      text-decoration: underline;
    }
    &-item {
      list-style-type: decimal;
      &::marker {
        color:#0833C5;
        font-family: Gotham Pro, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
      }
    }
  }
  &__liststar {
    display: flex;
    flex-direction: column;
    &-item {
      display: flex;
      .star {
        &:before {
          content: "∗";
          font-family: Gotham Pro, sans-serif;
          font-size: 16px;
          color: #0833C5;
          font-weight: 700;
          line-height: 150%;
          padding-right: 9px;
        }
      }
    }
    &-text {
      span {
        color: #0833C5;
        font-weight: 500;
      }
    }
  }
}